Django==5.2
djangorestframework==3.16.0
firebase-admin==6.9.0
django-jazzmin==3.0.1
gunicorn==23.0.0
whitenoise>=6.6.0
Pillow>=10.0.0
django-cors-headers>=4.0.0
psycopg2-binary>=2.9,<3.0
dj-database-url>=1.0,<2.0
drf-extra-fields>=3.6.2
supabase==1.2.0